IMAGEROUTER_API_KEY=
# IMAGEROUTER_OUTPUT_DIR=~/Pictures/imagerouter
# IMAGEROUTER_DEFAULT_IMAGE_MODEL=black-forest-labs/FLUX-1-schnell:free
# IMAGEROUTER_DEFAULT_VIDEO_MODEL=
# IMAGEROUTER_DASHBOARD_PORT=4477
